* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* header */

header {
  background-color: #0da2ff;
  color: white;
  text-align: center;
  text-decoration: underline;
  padding: 50px;
}

.info-keuangan {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  width: 300px;
  height: 100px;
  color: black;
  text-align: left;
  padding: 10px;
  border-radius: 10px;
}

.card-uang {
  font-size: 30px;
  font-weight: 900;
}

.card-uang.pemasukan {
  color: green;
}

.card-uang.pengeluaran {
  color: red;
}

/* main */

main {
  margin: 20px 200px 10px 200px;
}

.main-control {
  display: flex;
  justify-content: space-between;
}

select {
  border: 0;
  border-bottom: 1px solid #0d94e7;
  padding: 10px;
  font-size: large;
  font-weight: 500;
}

select:focus {
  outline: none;
  box-shadow: none;
}

button {
  border: 0;
  border-radius: 5px;
  background-color: #0da2ff;
  color: white;
  padding: 10px;
  font-size: large;
  font-weight: 500;
}

.main-control button:hover {
  background-color: #0d94e7;
}

.main-control button:active {
  background-color: #0e7bbe;
}

.form {
  border: 3px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.form.hidden {
  display: none;
}

.form label {
  margin-right: 5px;
  width: 150px;
}

.form input {
  border: 0;
  padding: 10px;
  padding-left: 0px;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
  width: 100%;
}

.form input:focus {
  border-bottom: 2px solid #0d94e7;
  outline: none;
  box-shadow: none;
}

.form .date {
  width: 20%;
}

.item-input {
  margin-bottom: 20px;
}

.form select {
  font-size: 13px;
  text-align: left;
}

table {
  margin-top: 30px;
  width: 100%;
}

th,
td {
  border-bottom: 1px solid #ddd;
  text-align: center;
}

td {
  padding: 10px;
}

td.pengeluaran {
  color: red;
  font-weight: 500;
}

td.pemasukan {
  color: rgb(0, 165, 0);
  font-weight: 500;
}

.btn-edit {
  background-color: orange;
}

.btn-edit:hover {
  background-color: rgb(219, 143, 0);
}

.btn-edit:active {
  background-color: rgb(177, 115, 0);
}

.btn-hapus {
  background-color: red;
  margin-left: 10px;
}
.btn-hapus:hover {
  background-color: rgb(209, 0, 0);
}
.btn-hapus:active {
  background-color: rgb(163, 0, 0);
}
